build/
managed_components/
sdkconfig
sdkconfig.old

# Python env & toolchain (local)
.idf_pyenv/
.espressif/
.component_cache/

# Backup & archives
backup/
*.zip
*.rar
*.7z
*.tar.gz

# Logs
log/
*.log